@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        color-scheme: light;
    }

    .dark {
        color-scheme: dark;
    }

    body {
        @apply bg-slate-50 text-slate-900 antialiased;
    }

    [x-cloak] {
        display: none !important;
    }
}
